fastapi==0.115.0
uvicorn[standard]==0.30.6
pinecone==3.2.2
sentence-transformers==3.1.1
requests==2.32.3
pydantic==2.9.2
python-multipart==0.0.9
torch==2.4.1+cpu
numpy==1.26.4
transformers==4.45.1
loguru==0.7.2
